The current pageview api will only go back to 2015 which makes a lot of the work I've done recently not matter so much. 

July 1, 2015

In [4]:
ultimate_start_date = '20150701'

In [1]:
from mwviews.api import PageviewsClient

p = PageviewsClient(user_agent = 'voje@gmail.com')

In [11]:
import pandas as pd

In [19]:
test = p.article_views('en.wikipedia', ['Cryptocurrency', 'Vagina'],agent='user', start=ultimate_start_date)

In [20]:
pd.DataFrame.from_dict(test, orient='index')

            Cryptocurrency   Vagina
2015-07-01           872.0  10152.0
2015-07-02           846.0  10251.0
2015-07-03           819.0  10084.0
2015-07-04           691.0  10913.0
2015-07-05           753.0  10667.0
2015-07-06           921.0  11635.0
2015-07-07           940.0  10752.0
2015-07-08           916.0  10576.0
2015-07-09           869.0  10868.0
2015-07-10           826.0  10100.0
2015-07-11           659.0  10481.0
2015-07-12           818.0  10547.0
2015-07-13           974.0  10480.0
2015-07-14           862.0  10369.0
2015-07-15           900.0  10434.0
2015-07-16           899.0  10245.0
2015-07-17           749.0  10246.0
2015-07-18           590.0  10738.0
2015-07-19           661.0  11488.0
2015-07-20           862.0  10989.0
2015-07-21           914.0  10613.0
2015-07-22           886.0  10480.0
2015-07-23           905.0  10705.0
2015-07-24           866.0  10231.0
2015-07-25           727.0  10739.0
2015-07-26           689.0  10515.0
2015-07-27           897.0  10823.0
2015-07-28           983.0  10766.0
2015-07-29          4548.0  10459.0
2015-07-30          4175.0  10372.0
...                    ...      ...
2018-05-22          6489.0   7577.0
2018-05-23          6513.0   7292.0
2018-05-24          5994.0   7535.0
2018-05-25          6031.0   7345.0
2018-05-26          3814.0   7753.0
2018-05-27          4845.0   7886.0
2018-05-28          5333.0   7898.0
2018-05-29          5456.0   8004.0
2018-05-30          5879.0   7725.0
2018-05-31          5698.0   7934.0
2018-06-01          4654.0   7760.0
2018-06-02          4032.0   7854.0
2018-06-03          4284.0   7981.0
2018-06-04          6453.0   7867.0
2018-06-05          6321.0   8098.0
2018-06-06          7404.0   7752.0
2018-06-07          6440.0   7871.0
2018-06-08          6230.0   7592.0
2018-06-09          4765.0   8027.0
2018-06-10          4831.0   7904.0
2018-06-11          6360.0   7735.0
2018-06-12          6630.0   7621.0
2018-06-13          6364.0   7636.0
2018-06-14          5952.0   7487.0
2018-06-15          4976.0   6969.0
2018-06-16          3798.0   7673.0
2018-06-17          4036.0   7866.0
2018-06-18          7264.0   8218.0
2018-06-19          5482.0   7857.0
2018-06-20             NaN      NaN

[1086 rows x 2 columns]

Seems like it's trivial to query this kind of data. So it'll be a breeze to program this out.