This notebook will query date time information all websites of interest.

In [1]:
from mwviews.api import PageviewsClient
import pandas as pd
import os
import pathlib
p = PageviewsClient(user_agent = 'voje@gmail.com')
%matplotlib inline

In [2]:
path_to_links = pathlib.Path('../data/test15/wikilinks/')
path_to_revisions = pathlib.Path('../data/test15/revisions/')

pages = [f.name.split('.json')[0] for f in path_to_links.iterdir()]

In [3]:
# list_of_pages = ['World_War_I',
#                 'American Civil War',
#                 'India',
#                 'Yemen' ,
#                 'Lady Gaga',
#                 'Donald Trump',
#                 'David Bowie',
#                 'Martin Luther King Jr.',
#                 'Google',
#                 '3M',
#                 'XHamster',
#                 'Reddit',
#                 'Vagina',
#                 'Human penis size',
#                 'Machine learning',
#                 'DNA_sequencing',
#                 'FIFA World Cup',
#                 'Cricket World Cup']

ultimate_start_date = '20150701'

In [ ]:
pageview_data = pd.DataFrame.from_dict(p.article_views('en.wikipedia', pages,agent='user', start=ultimate_start_date)
                       , orient='index')

In [ ]:
pageview_data.to_csv(pathlib.Path('../data/test15/pageview_data.csv'))

In [ ]:
pageview_data.to_csv('../data/pageview_data.csv')

In [7]:
pageview_data.describe()

,_Tillakaratne_Dilshan,_Vasco_da_Gama,'Amran_Governorate,'Amran,'Asir_Region,'Hours...',+1_button,.in,.mobi,.ye,...,Zurayids,Zurich,Zygophyllum,Zürich,Éditions_du_Seuil,Özdemir_Pasha,Āryāvarta,اليمن.,بھارت.,ଭାରତ
count,1.0,1.0,1103.000000,1103.000000,1103.000000,1095.000000,1093.000000,1103.000000,1103.000000,1103.000000,...,1092.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1100.000000,997.000000,1.0
mean,0.0,0.0,12.358114,11.961015,93.194016,185.365297,4.962489,160.949229,162.325476,19.869447,...,4.661172,379.194016,12.640979,2101.762466,22.820490,5.184044,105.759746,3.999091,11.394183,0.0
std,NaN,NaN,10.084198,5.141494,62.763510,1310.358247,2.949431,34.580257,93.057025,8.189853,...,4.931672,119.267214,5.930620,251.019825,14.163309,3.127891,32.288701,2.777624,7.799192,NaN
min,0.0,0.0,2.000000,1.000000,37.000000,0.000000,0.000000,79.000000,61.000000,6.000000,...,0.000000,217.000000,1.000000,1259.000000,5.000000,0.000000,32.000000,0.000000,0.000000,0.0
25%,0.0,0.0,8.000000,9.000000,72.500000,2.000000,3.000000,138.000000,110.000000,15.000000,...,2.000000,317.000000,8.000000,1937.000000,17.000000,3.000000,85.000000,2.000000,4.000000,0.0
50%,0.0,0.0,11.000000,12.000000,85.000000,5.000000,5.000000,158.000000,158.000000,19.000000,...,3.000000,361.000000,12.000000,2087.000000,20.000000,5.000000,104.000000,4.000000,12.000000,0.0
75%,0.0,0.0,14.000000,15.000000,100.000000,64.000000,7.000000,178.000000,202.000000,23.000000,...,6.000000,416.000000,16.000000,2234.000000,25.000000,7.000000,124.000000,5.000000,17.000000,0.0
max,0.0,0.0,205.000000,51.000000,1197.000000,28551.000000,36.000000,393.000000,2646.000000,184.000000,...,81.000000,2476.000000,41.000000,4454.000000,122.000000,40.000000,393.000000,35.000000,79.000000,0.0